<footer id="footer" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column with logo -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="../../assets/images/footerLogo.png" alt="" class="d-inline-block align-text-top" style="height: 100px;width: 400px;">

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Social media Links -->
        <h5 class="text-uppercase">Social Media</h5>

      
        <ul class="list-unstyled">
          <li>
            <a href="https://facebook.com"><img src="../../assets/images/icons/fb.png" alt="fb" style ="width:50px;height:50px"></a>
            <a href="https://twitter.com"><img src="../../assets/images/icons/twitter.png" alt="fb" style ="width:50px;height:50px"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://angular-accenture.com/">Angular-Accenture</a>
  </div>
  <!-- Copyright -->

</footer>