<div class="l-container">
  <h1 style="text-align: center;margin-top: 100px;margin-bottom: 50px;">Get These Courses - Lifetime Course Access</h1>
  <div class="row">
<div class="col-md-6"
      *ngFor="let courseCard of courseCards">
    <div class="card" style="width: 30rem;">
      <div class="card-header" style="background-color: rgb(88, 88, 255);">
        <h5 class="card-title" style="color:black;">{{courseCard.heading}}</h5>
      </div>
      <div class="card-body" style="padding: 0;">
    
        <img src="{{courseCard.image}}" class="card-img-top" alt="...">
        <p class="card-text" style="color:black;padding: 10px;">{{courseCard.description}}</p>
        <p style="text-align: center;"><a href="#">{{courseCard.count}} lessons</a></p>
      </div>
    </div>
    </div>
  </div>
</div>

{{courseCards.heading}}
